.deckgrid[deckgrid]::before {
    /* Defines that the grid should have 3 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    display:none;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 24%;
}
.sayings {
    margin-bottom: 300px;
}
.saying-letter {

}
div {
    box-sizing:border-box;
}
body {
    background: #fff;
}
.box {
    border: solid 6px #ccc;
    margin: 4px 2px;
    overflow: hidden;
    display: block;
}


.marker {
    float:right;
    color:white;
}
.saypanel {
    padding:10px 50px;
    overflow: visible;
}
.handle {
    position: relative;
    left:50%;
    color:#FFF;
    background-color: #CCC;
}
.pane {
    display: block;
    float:left;
    width: 100%;
    height:0;
    margin:0;
    padding: 0;
    clear:both;
    border-bottom: solid 1px #000;

}
.pane div {
    text-align: center;
    font-size: 12px;
}
.pane-label {
    display: block;
    float:left;
    padding: 2px 5px 2px 5px;
    margin:0;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    box-sizing: border-box;
}
.pane-rating {
    float:right;
    width:75%;
    font-size: 12px;
}
.minus {
    background-color: #888;
}
.zero {
    background-color: #aaa;
}
.plus {
    background-color: #ccc;
 }
.rating {
    display: block;
    float:right;
    font-size: 12px;
}
.minus:hover {
    cursor: pointer;
}
.plus:hover {
    cursor: pointer;
}
.zero:hover {
    cursor: pointer;
}
.saying-text {
    float:left;
    padding:6px;
}
.more {
    position: relative;
    bottom: 5px;
    width:20px;
    height: 20px;
}

/* bg-color-hover */
.border-color-c:hover {
    border-color: #eb3f5b;
}
.border-color-cd:hover {
    border-color: #febd8a;
}
.border-color-d:hover {
    border-color: #fcb73d;
}
.border-color-dd:hover {
    border-color: #ffec8e;
}
.border-color-e:hover {
    border-color: #f5f94d;
}
.border-color-f:hover {
    border-color: #0ef367;
}
.border-color-fd:hover {
    border-color: #7ef8a6;
}
.border-color-g:hover {
    border-color: #0ef2dd;
}
.border-color-gd:hover {
    border-color: #78e7e5;
}
.border-color-a:hover {
    border-color: #4c64d3;
}
.border-color-ad:hover {
    border-color: #a598df;
}
.border-color-b:hover {
    border-color: #af0fc8;
}
/*background-color */
.color-c {
    background-color: #eb3f5b;
}
.color-cd {
    background-color: #febd8a;
}
.color-d {
    background-color: #fcb73d;
}
.color-dd {
    background-color: #ffec8e;
}
.color-e {
    background-color: #f5f94d;
}
.color-f {
    background-color: #0ef367;
}
.color-fd {
    background-color: #7ef8a6;
}
.color-g {
    background-color: #0ef2dd;
}
.color-gd {
    background-color: #78e7e5;
}
.color-a {
    background-color: #4c64d3;
}
.color-ad {
    background-color: #a598df;
}
.color-b {
    background-color: #af0fc8;
}
/* hover classes */
.hover-back-c:hover {
    background-color: #eb3f5b;
}
.hover-back-cd:hover {
    background-color: #febd8a;
}
.hover-back-d:hover {
    background-color: #fcb73d;
}
.hover-back-dd:hover {
    background-color: #ffec8e;
}
.hover-back-e:hover {
    background-color: #f5f94d;
}
.hover-back-f:hover {
    background-color: #0ef367;
}
.hover-back-fd:hover {
    background-color: #7ef8a6;
}
.hover-back-g:hover {
    background-color: #0ef2dd;
}
.hover-back-gd:hover {
    background-color: #78e7e5;
}
.hover-back-a:hover {
    background-color: #4c64d3;
}
.hover-back-ad:hover {
    background-color: #a598df;
}
.hover-back-b:hover {
    background-color: #af0fc8;
}
/* responsiveness */
@media screen and (min-width: 481px) and (max-width: 640px){
    .deckgrid[deckgrid]::before {
        content: '3 .column.column-1-3';
    }

    .deckgrid .column-1-3 {
        width: 33%;
    }
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '2 .column.column-1-2';
    }

    .deckgrid .column-1-2 {
        width: 50%;
    }
}
