.deckgrid[deckgrid]::before {
    /* Defines that the grid should have 3 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    display:none;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 24%;
}
.sayings {
    max-height: 800px;
    overflow: scroll;
    padding:40px 0;
}
.saying-letter {

}
div {
    box-sizing:border-box;
}
body {
    background: #000;
    color:#bbb;
}
.deckgrid-box {
    border: solid 4px #333;
    margin: 4px 2px;
    overflow: hidden;
    display: block;
    transition: all 600ms linear;
    position: relative;
}
.deckgrid-box:hover .pane-label {
    background-color: inherit !important;
    border-radius: 5px;
    color:inherit !important;
}
.deckgrid-box:hover .corner {
    opacity: .40;
}

.box:hover .pane-label {
    background-color: inherit !important;
    border-radius: 5px;
    color:inherit !important;
}
.box:hover .corner {
    opacity: .40;
}
.box {
    border: solid 4px #333;
    width: 180px;
    height:180px;
    float:left;
    margin: 4px 2px;
    overflow: hidden;
    display: block;
    transition: all 600ms linear;
    position: relative;

}
.corner {
    z-index: 80;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent #444 transparent;
    position: absolute;
    bottom:0;
    right:0;
    float: right;
    transition: all 600ms linear;
}
.corner:hover {
    cursor: pointer;
    opacity: .80;
}
.corner .more {
    margin:15px 0 0 -14px;
}
.corner .less {
    margin:10px 0 0 -12px;
}
.saying-text {
    margin:25px 0 0 0;
    padding: 4px;

}
.marker {
    float:right;
    color:white;
    background-color: #333;
    transition: all 600ms linear;
}
.saypanel {
    background: #262626;
    padding:10px 50px;
    overflow: visible;
}
#usertext {
    width:100%;
}
.say-buttons button{
    margin:5px;
}
.handle {
    position: relative;
    left:50%;
    color:#FFF;
    background-color: #CCC;
}
.pane {
    display: block;
    float:left;
    width: 100%;
    height:0;
    margin:0;
    padding: 0;
    clear:both;
    border-bottom: solid 1px #000;

}
.pane div {
    text-align: center;
    font-size: 12px;
}
.pane-label {
    background-color: #333;
    display: block;
    float:left;
    padding: 2px 5px 2px 5px;
    margin:0;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    box-sizing: border-box;
    transition: all 600ms linear;
}
.pane-label:hover {
    cursor: pointer;
}
.pane-rating {
    float:right;
    width:75%;
    font-size: 12px;
}
.minus {
    background-color: #333;
}
.zero {
    background-color: #555;
}
.plus {
    background-color: #999;
}
.rating {
    display: block;
    float:right;
    margin: 0 3px 0 0;
}
.rating .label {
    font-size: 10px;
}
.minus:hover {
    cursor: pointer;
}
.plus:hover {
    cursor: pointer;
}
.zero:hover {
    cursor: pointer;
}

.more {
    position: relative;
    bottom: 5px;
    width:20px;
    height: 20px;
}


/* bg-color-hover */
.border-select-c {
    border-color: #ff0000;
}
.border-select-cd {
    border-color: #ff4500;
}
.border-select-d {
    border-color: #ff7b00;
}
.border-select-dd {
    border-color: #ffb900;
}
.border-select-e {
    border-color: #ffff00;
}
.border-select-f {
    border-color: #00ff00;
}
.border-select-fd {
    border-color: #00ff7b;
}
.border-select-g {
    border-color: #00ffff;
}
.border-select-gd {
    border-color: #007bff;
}
.border-select-a {
    border-color: #0000ff;
}
.border-select-ad {
    border-color: #7b00ff;
}
.border-select-b {
    border-color: #ff00ff;
}
/*background-color */
.color-c {
    background-color: #ff0000;
    color:#fff;
}
.color-cd {
    background-color: #ff4500;
    color:#fff;
}
.color-d{
    background-color: #ff7b00;
    color:#fff;
}
.color-dd {
    background-color: #ffb900;
    color:#fff;
}
.color-e{
    background-color: #ffff00;
    color:#000;
}
.color-f {
    background-color: #00ff00;
    color:#000;
}
.color-fd {
    background-color: #00ff7b;
    color:#000;
}
.color-g {
    background-color: #00ffff;
    color:#000;
}
.color-gd {
    background-color: #007bff;
    color:#fff;
}
.color-a{
    background-color: #0000ff;
    color:#fff;
}
.color-ad {
    background-color: #7b00ff;
    color:#fff;
}
.color-b {
    background-color: #ff00ff;
    color:#fff;
}
/* hover classes */
.hover-back-c:hover {
    background-color: #ff0000;
    color:#fff;
}
.hover-back-cd:hover {
    background-color: #ff4500;
    color:#fff;
}
.hover-back-d:hover {
    background-color: #ff7b00;
    color:#fff;
}
.hover-back-dd:hover {
    background-color: #ffb900;
    color:#fff;
}
.hover-back-e:hover {
    background-color: #ffff00;
    color:#000;
}
.hover-back-f:hover {
    background-color: #00ff00;
    color:#000;
}
.hover-back-fd:hover {
    background-color: #00ff7b;
    color:#000;
}
.hover-back-g:hover {
    background-color: #00ffff;
    color:#000;
}
.hover-back-gd:hover {
    background-color: #007bff;
    color:#fff;
}
.hover-back-a:hover {
    background-color: #0000ff;
    color:#fff;
}
.hover-back-ad:hover {
    background-color: #7b00ff;
    color:#fff;
}
.hover-back-b:hover {
    background-color: #ff00ff;
    color:#fff;
}

/* bg-color-hover */
.border-color-c:hover {
    border-color: #ff0000;
}
.border-color-cd:hover {
    border-color: #ff4500;
}
.border-color-d:hover {
    border-color: #ff7b00;
}
.border-color-dd:hover {
    border-color: #ffb900;
}
.border-color-e:hover {
    border-color: #ffff00;
}
.border-color-f:hover {
    border-color: #00ff00;
}
.border-color-fd:hover {
    border-color: #00ff7b;
}
.border-color-g:hover {
    border-color: #00ffff;
}
.border-color-gd:hover {
    border-color: #007bff;
}
.border-color-a:hover {
    border-color: #0000ff;
}
.border-color-ad:hover {
    border-color: #7b00ff;
}
.border-color-b:hover {
    border-color: #ff00ff;
}
/* responsiveness */
@media screen and (min-width: 481px) and (max-width: 640px){
    .deckgrid[deckgrid]::before {
        content: '3 .column.column-1-3';
    }

    .deckgrid .column-1-3 {
        width: 33%;
    }
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '2 .column.column-1-2';
    }

    .deckgrid .column-1-2 {
        width: 50%;
    }
}
