.top-frukt {
    width:100%;

}
.top-frukt div {
    display:inline-block;
    width:20%;
    text-align: center;
    transition: all 600ms linear;
    padding:4px;
}
.top-frukt div:hover {
    color:#fff;
    cursor: pointer;
}
.f {
    color:#888;
    border-bottom: solid 3px #888;
}
.f:hover {
   background-color: #888;
}
.r {
    color:#a6499b;
    border-bottom: solid 3px #a6499b;
}
.r:hover {
    background-color: #a6499b;
}
.u {
    color:#f7951d;
    border-bottom: solid 3px #f7951d;
}
.u:hover {
    background-color: #f7951d;
}
.k {
    color:#ed1c24;
    border-bottom: solid 3px #ed1c24;
}
.k:hover {
    background-color: #ed1c24;
}
.t {
    color:#43b549;
    border-bottom: solid 3px #43b549;
}
.t:hover {
    background-color: #43b549;
}
.top-menu {
    width:100%;

}
.top-menu div {
    display:inline-block;
    width:20%;
    text-align: center;
    transition: all 600ms linear;
    padding:10px;
}
.top-menu div:hover {
    color:#fff;
    cursor: pointer;
}
.tree {
    color:#00ff00;
    border-bottom: solid 3px #00ff00;
}
.tree:hover {
    background-color: #00ff00;
}
.design {
    color:#ff7b00;
    border-bottom: solid 3px #ff7b00;
}
.design:hover {
    background-color: #ff7b00;
}
.task {
    color:#00ffff;
    border-bottom: solid 3px #00ffff;
}
.task:hover {
    background-color: #00ffff;
}
.demand {
    color:#007bff;
    border-bottom: solid 3px #007bff;
}
.demand:hover {
    background-color: #007bff;
}
.sandbox {
    color:#ff00ff;
    border-bottom: solid 3px #ff00ff;
}
.sandbox:hover {
    background-color: #ff00ff;
}
.top-menu svg {
    height:20px;
    margin-bottom:-4px;
    display: inline-block;
}
#greeting {
    padding:20px;
}
#greeting p {
    font-size: 16px;
}
.top-bttns {
    margin:20px;
}
.pretake {
    width:60px;
    padding:4px;
}
.sayings {
    max-height: 800px;
    overflow: scroll;
    padding: 0;
}
.order {
    margin:0 4px;
}
.orders, .types {
    margin:10px 0;
}

.saying-letter {

}
div {
    box-sizing:border-box;
}
body {
    background: #37353a;
    color:#eee;
}

.f-icon {
    display: inline-block;
    padding:0;
    font-size:14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #999;
    color:#fff;
}
.donation {
    background-color: #00A651;
}
.child {
    width:100%;
    padding-left:40px;
    border-top: solid 5px #333;
    border-right:solid 1px #333;
    border-bottom:solid 1px #333;
    position: relative;
}
.left-strip {
    width:40px;
    height: 100%;
    padding:10px;
    text-align: center;
    position: absolute;
    left:0;
    top:0;
}
.strip-letter {
    padding:5px;
}
.strip-letter:hover {
    cursor: pointer;
}
.full-pic {
    position: relative;
    right:0;
    max-width: 30%;
    max-height: 300px;
}
.box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-height: 40vh;
    overflow-y: scroll;
}
.box:hover .pane-label {
    background-color: inherit !important;
    border-radius: 5px;
    color:inherit !important;
}
.box:hover .corner {
    opacity: .40;
}
.box {
    flex: 1 1 12em;
    min-height: 8em;
    border: solid 4px #333;
    background-color: #4a4d51;
    float:left;
    margin:0;
    overflow: hidden;
    display: block;
    transition: all 600ms linear;
    position: relative;
    z-index: 0;
}
.saying-text p {
    position: relative;
    top: 50%;
    text-align: center;
}
.saying-text:hover {
    cursor: pointer;
}
.box-inner {
    position: absolute;
    z-index: -1;
    width:100%;
    height:100%;
    transition: all 600ms linear;
}
.box:hover .box-inner {
    opacity: .5;
}
.date {
    margin:6px 0 0 6px;
    font-size:8px;
    float:left;
    display: block;
}

.corner {
    z-index: 80;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent #444 transparent;
    position: absolute;
    bottom:0;
    right:0;
    float: right;
    transition: all 600ms linear;
}
.corner:hover {
    cursor: pointer;
    opacity: .80;
}
.corner .more {
    margin:15px 0 0 -14px;
}
.corner .less {
    margin:10px 0 0 -12px;
}
.saying-text {
    width: 100%;
    height:85%;
    margin:20px 0 0 0;
    padding: 4px;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;

}
.marker {
    float:right;
    color:white;
    background-color: #333;
    transition: all 600ms linear;
}
.saypanel {
    background: #48454d;
    padding:10px 10px;
    overflow: visible;
}

.say-buttons button{
    margin:5px;
}
.handle {
    position: relative;
    left:50%;
    color:#FFF;
    background-color: #CCC;
}
.pane {
    display: block;
    float:left;
    width: 100%;
    height:0;
    margin:0;
    padding: 0;
    clear:both;
    border-bottom: solid 1px #000;

}
.pane div {
    text-align: center;
    font-size: 12px;
}
.pane-label {
    background-color: #333;
    display: block;
    float:left;
    padding: 2px 5px 2px 5px;
    margin:0;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    box-sizing: border-box;
    transition: all 600ms linear;
}
.pane-label:hover {
    cursor: pointer;
}
.pane-rating {
    float:right;
    width:75%;
    font-size: 12px;
}
.rating {
    float:right;
    color: #fff;
    font-size:10px;
    font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
    font-weight:bold;
    opacity: .5;
    transition: all 600ms linear;
}
.rating:hover {
    opacity: .9;
}
.rating div {
    display:inline-block;
    padding:3px 7px;
}
.rating div:hover {
    cursor:pointer;

}
.rating .minus {
    background-color:#333;

    padding-left:8px;
}
.minus:hover {
    background-color:#510a0a;
}
.rating .zero {
    background-color:#555;
}
.zero:hover {
    background-color: #666;
}
.rating .plus {
    background-color:#999;

    padding-right:8px;
}
.plus:hover {
    background-color:#48d741;
}

.more {
    position: relative;
    bottom: 5px;
    width:20px;
    height: 20px;
}


/* bg-color-hover */
.border-select-K {
    border-color: #ff0000;
}
.border-select-P {
    border-color: #ff4500;
}
.border-select-Y {
    border-color: #ff7b00;
}
.border-select-O {
    border-color: #ffb900;
}
.border-select-M {
    border-color: #ffff00;
}
.border-select-T {
    border-color: #00ff00;
}
.border-select-B {
    border-color: #00ff7b;
}
.border-select-X {
    border-color: #00ffff;
}
.border-select-A {
    border-color: #007bff;
}
.border-select-C {
    border-color: #0000ff;
}
.border-select-H {
    border-color: #7b00ff;
}
.border-select-E {
    border-color: #ff00ff;
}
/*background-color */
.color-K {
    background-color: #ff0000;
    color:#fff;
}
.color-P {
    background-color: #ff4500;
    color:#fff;
}
.color-Y{
    background-color: #ff7b00;
    color:#fff;
}
.color-O {
    background-color: #ffb900;
    color:#fff;
}
.color-M{
    background-color: #ffff00;
    color:#000;
}
.color-T {
    background-color: #00ff00;
    color:#000;
}
.color-B {
    background-color: #00ff7b;
    color:#000;
}
.color-X {
    background-color: #00ffff;
    color:#000;
}
.color-A {
    background-color: #007bff;
    color:#fff;
}
.color-C{
    background-color: #0000ff;
    color:#fff;
}
.color-H {
    background-color: #7b00ff;
    color:#fff;
}
.color-E {
    background-color: #ff00ff;
    color:#fff;
}
/* hover classes */
.hover-back-K:hover {
    background-color: #ff0000;
    color:#fff;
}
.hover-back-P:hover {
    background-color: #ff4500;
    color:#fff;
}
.hover-back-Y:hover {
    background-color: #ff7b00;
    color:#fff;
}
.hover-back-O:hover {
    background-color: #ffb900;
    color:#fff;
}
.hover-back-M:hover {
    background-color: #ffff00;
    color:#000;
}
.hover-back-T:hover {
    background-color: #00ff00;
    color:#000;
}
.hover-back-B:hover {
    background-color: #00ff7b;
    color:#000;
}
.hover-back-X:hover {
    background-color: #00ffff;
    color:#000;
}
.hover-back-A:hover {
    background-color: #007bff;
    color:#fff;
}
.hover-back-C:hover {
    background-color: #0000ff;
    color:#fff;
}
.hover-back-H:hover {
    background-color: #7b00ff;
    color:#fff;
}
.hover-back-E:hover {
    background-color: #ff00ff;
    color:#fff;
}

/* bg-color-hover */
.border-color-K:hover {
    border-color: #ff0000;
}
.border-color-P:hover {
    border-color: #ff4500;
}
.border-color-Y:hover {
    border-color: #ff7b00;
}
.border-color-O:hover {
    border-color: #ffb900;
}
.border-color-M:hover {
    border-color: #ffff00;
}
.border-color-T:hover {
    border-color: #00ff00;
}
.border-color-B:hover {
    border-color: #00ff7b;
}
.border-color-X:hover {
    border-color: #00ffff;
}
.border-color-A:hover {
    border-color: #007bff;
}
.border-color-C:hover {
    border-color: #0000ff;
}
.border-color-H:hover {
    border-color: #7b00ff;
}
.border-color-E:hover {
    border-color: #ff00ff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/* responsiveness */
@media screen and (min-width: 481px) and (max-width: 640px){
    .deckgrid[deckgrid]::before {
        content: '3 .column.column-1-3';
    }

    .deckgrid .column-1-3 {
        width: 33%;
    }
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '2 .column.column-1-2';
    }

    .deckgrid .column-1-2 {
        width: 50%;
    }
}


/* Buzz Out */

@-webkit-keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        -ms-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        -ms-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        -ms-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        -ms-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        -ms-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        -ms-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        -ms-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        -ms-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        -ms-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        -ms-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.buzz-out {
    display: inline-block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.buzz-out:hover {
    -webkit-animation-name: buzz-out;
    animation-name: buzz-out;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}