<div class="box border-color-{{mother.armColor(card.letter)}}">
    <span class="label color-{{mother.armColor(card.letter)}}">{{card.letter}}</span>
    {{card.text.substring(0,140)}}<span data-ng-if="card.text.length > 140 && !card.more">...<button class="btn btn-xs marker color-{{mother.armColor(card.letter)}}" data-ng-click="card.more = card.text.substring(140)">...</button></span><span data-ng-if="card.more">{{card.more}}<br><button class="btn btn-xs marker color-{{mother.armColor(card.letter)}}" data-ng-click="card.more = undefined">^</button></span>

</div>
