<!DOCTYPE html>
<html data-ng-app="fruitTree">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <title>Fruit-tree</title>
    <script src="js/angular.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.js"></script>
    <script type="application/javascript" src="js/fruit-app.js"></script>
    <script type="application/javascript" src="js/fruit-directives.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gridforms.css" rel="stylesheet">
    <link href="css/letters.css" rel="stylesheet">
    <script src="js/ui-bootstrap-tpls-0.10.0.js"></script>

    <script type="text/ng-template"  id="roll.html">

        <div class="box-container sayings" id="{{parent}}">
           <div data-ng-repeat="card in tape | orderBy:rate.sort"
                data-ng-init="card.select=''"
                data-ng-class="card.select"
                style="flex-grow: {{rate.getTotal(card)+1}}"
                class="box hover-back-{{getColor(card.order)}} border-color-{{getColor(card.order)}}">

                        <div data-ng-if="card.picLink" class="box-inner"
                             style="background: url('{{card.picLink}}') center no-repeat; background-size: 100% "></div>


                        <div data-ng-class="card.select"
                             data-ng-click="card.select=''; selector(card)"
                             class="pane-label hover-back-{{getColor(card.order)}}">
                            | {{card.order}} |
                        </div>

                        <div class="rating">
                            <div data-ng-click="rate.minus(card)" class="minus">{{rate.getRating(card)<0 ?
                                rate.getRating(card) : '-'}}
                            </div>
                            <div data-ng-click="rate.zero(card)" class="zero">{{rate.getTotal(card) || 0}}</div>
                            <div data-ng-click="rate.plus(card)" class="plus">+{{rate.getRating(card)>0 ?
                                rate.getRating(card) : ''}}
                            </div>
                        </div>

                        <div data-ng-click="selector(card)" data-ng-if="!card.more" class="saying-text">
                            <p>{{card.heading.substring(0,140)}}<span data-ng-if="card.heading.length>139">...</span>
                            </p>
                        </div>
                        <div data-ng-click="selector(card)" data-ng-if="card.more" class="saying-text">
                            {{card.heading}}
                        </div>

                        <div data-ng-if="card.heading.length > 140 && !card.more"
                             data-ng-click="card.more = true"
                             class="corner">
                            <div class="more">+</div>
                        </div>
                        <div data-ng-if="card.more"
                             data-ng-click="card.more = false"
                             class="corner">
                            <div class="less">-</div>
                        </div>
           </div>
                <div class="box box-plus hover-back-T" data-ng-click="toggleAdd()">
                 <div class="big-plus">+</div>
                </div>
        </div>
    </script>

    <script type="text/ng-template" id="saypanel.html">
        <div data-ng-if="!hide" class="saypanel">

            <form class="grid-form" data-collapse="hide">
                <fieldset>
                    <div data-row-span="4">
                        <div data-field-span="1">
                            <label>Выбери тип высказывания:</label>


                                <button type="button" data-ng-repeat="type in types" data-ng-model="$parent.sayingType"
                                        data-btn-radio="type" class="btn btn-sm btn-primary"> {{type}}
                                </button>

                        </div>
                            <div data-field-span="3">
                                <label>Выбери порядок:</label>
                                <button type="button"
                                        class="btn btn-sm order color-{{getColor(pretaken)}}"
                                        data-ng-click="returnOrder(stem)">
                                    {{pretaken || stem.freeOrders.length}}
                                </button>
                                <input type="search" class="input-sm pretake" data-ng-model="pretake">
                                <button data-ng-disabled="$parent.pretaken!=''" type="button"
                                        class="btn btn-sm order color-{{getColor(order)}}"
                                        data-ng-repeat="order in stem.freeOrders | filter:pretake | limitTo: 12 "
                                        data-ng-click="pretakeOrder(stem, order)">
                                    {{order}}
                                </button>
                            </div>

                    </div>
                </fieldset>
            </form>

                <div data-collapse="!sayingType ">


            <form class="grid-form">

            <fieldset>
                <legend>Добавляем: {{sayingType}}</legend>

                <div data-row-span="2">
                    <div data-field-span="1">
                        <label>Название</label>
                        <input  data-tooltip="Осталось {{140 - $parent.heading.length}} символов"
                                data-tooltip-trigger="focus" data-tooltip-placement="top"
                                data-ng-model="$parent.heading"
                                data-ng-model-instant type="text">
                    </div>
                    <div data-field-span="1">
                        <label>URL картинки</label>
                        <input data-ng-model="picLink"
                               data-ng-model-instant type="text">
                    </div>
                </div>
                <div data-row-span="1">
                    <div data-field-span="1">
                        <label>Текст</label>
                        <textarea data-tooltip="{{$parent.linkedText.length || 0}} символов"
                                  data-tooltip-trigger="focus" data-tooltip-placement="top"
                                  data-ng-model="$parent.linkedText"
                                  data-ng-model-instant></textarea>
                    </div>
                </div>
            </fieldset>
                <button class="btn btn-success" data-ng-click="say(stem, pretaken, sayingType, picLink, heading, linkedText);">+</button>
            </form>
                </div>
        </div>

    </script>

    <script type="text/ng-template" id="nest.html">

        <div data-ng-if="sel" class="child border-color-{{getColor(sel.order)}}">
            <div class="left-strip color-{{getColor(sel.order)}}">
                <span id="let{{num}}" class="strip-letter">{{sel.order}}</span>
                <br><br><br>
                <span data-ng-click="close()" class="close strip-letter">&times;</span>

            </div>
            <div><small>{{date}}</small></div>
            <div class="rating">
                <div data-ng-click="rate.minus(sel)" class="minus">{{rate.getRating(sel)<0 ? rate.getRating(sel) : '-'}}</div><div data-ng-click="rate.zero(sel)" class="zero">{{rate.getTotal(sel) || 0}}</div><div data-ng-click="rate.plus(sel)" class="plus">+{{rate.getRating(sel)>0 ? rate.getRating(sel) : ''}}</div>
            </div>
            <div class="full-view">
            <div class="saying-full">
                <h3>{{sel.heading}}</h3>
                <p>{{sel.text}}</p>
            </div>
                <div class="full-pic" data-ng-if="sel.picLink"><img data-ng-src="{{sel.picLink}}"> </div>
            </div>
            <roll toggle-add="toggleAdd()"  parent="{{address + '|' + sel.order +'|'}}"  tape="sel.branches"  rate="rate" select="next"></roll>
            <saypanel hide="hide" data-ng-if="add" stem="sel" types="types" proto="proto"></saypanel>
            <nest add="true" close="next=''" num="numb" address="address + '|' + sel.order +'|'" sel="next" rate="rate" types="types" proto="proto"></nest>

        </div>

    </script>

</head>
<body data-ng-cloak>
<div  class="app" id="fruit" data-ng-controller="lettersCtrl">

<div class="top-frukt">
    <div data-ng-click="start=fruit.f" class="f">Ф <span data-ng-if="fruit.f.branches.length" class="label label-default">{{fruit.f.branches.length}}</span></div><div data-ng-click="start=fruit.r" class="r">Р <span data-ng-if="fruit.r.branches.length" class="label label-default">{{fruit.r.branches.length}}</span></div><div data-ng-click="start=fruit.u" class="u">У<span data-ng-if="fruit.u.branches.length" class="label label-default">{{fruit.u.branches.length}}</span></div><div data-ng-click="start=fruit.k" class="k">К <span data-ng-if="fruit.k.branches.length" class="label label-default">{{fruit.k.branches.length}}</span></div><div data-ng-click="start=fruit.t" class="t">Т<span data-ng-if="fruit.t.branches.length" class="label label-default">{{fruit.t.branches.length}}</span></div>
</div>
<div class="top-menu">
    <div data-ng-click="start=fruit.sandbox" class="sandbox">Инкубатор затей <span data-ng-if="fruit.sandbox.branches.length" class="label label-default">{{fruit.sandbox.branches.length}}</span></div><div data-ng-click="start=fruit.designs" class="design">Затеи <span data-ng-if="fruit.designs.branches.length" class="label label-default">{{fruit.designs.branches.length}}</span></div><div data-ng-click="start=fruit.tree" class="tree">Фруктовое дерево <span data-ng-if="fruit.tree.branches.length" class="label label-default">{{fruit.tree.branches.length}}</span></div><div data-ng-click="start=fruit.tasks" class="task">Задачи <span data-ng-if="fruit.tasks.branches.length" class="label label-default">{{fruit.tasks.branches.length}}</span></div><div data-ng-click="start=fruit.demands" class="demand">Поставки <span data-ng-if="fruit.demands.branches.length" class="label label-default">{{fruit.demands.branches.length}}</span></div>
</div>

        <nest add="true" num="1" address="" close="start=''" sel="start" rate="rate" types="types" proto="proto"></nest>

    <div class="">
        <div class="top-bttns">
            <div class="btn-group btn-group-xs">
                <button data-ng-disabled="!loaded" type="button" class="btn btn-xs btn-success" data-ng-click="saveToFireBase()">Save to database</button>
                <button data-ng-disabled="!loaded" type="button" class="btn btn-xs btn-warning" data-ng-click="loadFromFireBase()">Load from database</button>
                <button type="button" class="btn btn-xs btn-info" data-ng-click="exportJSON()">Export JSON</button>
                <button type="button" class="btn btn-xs btn-primary" data-ng-click="importJSON()">Import JSON</button>
                <button class="btn btn-xs btn-danger" data-ng-click="setFruit()">Restart</button>
            </div>
        </div>
    </div>
<div data-ng-if="importShow">
 <textarea data-ng-model="$parent.JSON" data-ng-model-instant></textarea><button class="btn btn-sm btn-default" type="button" data-ng-click="$parent.importShow=false">hide</button>

</div>


</div>
</body>
</html>